<!DOCTYPE html>
<html>
  <head>
    <title>GemsOis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron">
          <h1>Online Interview System</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
